<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformeTq e Região || Outras Cidades</title>
</head>
<body>
    <main>
        <section>
            <div class="card mb-3">
                <img src="../imgs/cidade.jpg" class="card-img-top" alt="Imagem aérea de uma cidade">
                <div class="card-body">
                    <h5 class="card-title">Matão-SP</h5>
                    <p class="card-text">Venha visitar a cidade de Matão-SP e experêncie tudo o que o turismo da cidade tem a oferecer</p>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-danger btn-lg text-center">Entrar</button>
                </div>
            </div>

            <div class="card mb-3">
                <img src="../imgs/cidade.jpg" class="card-img-top" alt="Imagem aérea de uma cidade">
                <div class="card-body">
                    <h5 class="card-title">Jaboticabal-SP</h5>
                    <p class="card-text">Venha visitar a cidade de Jaboticabal-SP e experêncie tudo o que o turismo da cidade tem a oferecer</p>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-danger btn-lg text-center">Entrar</button>
                </div>
            </div>

            <div class="card mb-3">
                <img src="../imgs/cidade.jpg" class="card-img-top" alt="Imagem aérea de uma cidade">
                <div class="card-body">
                    <h5 class="card-title">Itápolis-SP</h5>
                    <p class="card-text">Venha visitar a cidade de Itápolis-SP e experêncie tudo o que o turismo da cidade tem a oferecer</p>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-danger btn-lg">Entrar</button>
                </div>
            </div>

            <div class="card mb-3">
                <img src="../imgs/cidade.jpg" class="card-img-top" alt="Imagem aérea de uma cidade">
                <div class="card-body">
                    <h5 class="card-title">Monte Alto-SP</h5>
                    <p class="card-text">Venha visitar a cidade de Monte Alto-SP e experêncie tudo o que o turismo da cidade tem a oferecer.</p>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-danger btn-lg">Entrar</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>