@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutCompras";
}

<div class="text-center">
    <div class="card mb-3">
        <img src="/imgs/Supermercado.jpg" class="card-img-top" alt="Imagem do card de supermercados">
        <div class="card-body">
            <h5 class="card-title">Supermercados</h5>
            <p class="card-text">Visite a página de supermercados para verificar as avaliações.</p>

            <div>
                <button type="button" class="btn btn-outline-success">Conferir</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="card mb-3">
        <img src="/imgs/roupas.jpg" class="card-img-top" alt="Imagem do card de Roupas">
        <div class="card-body">
            <h5 class="card-title">Lojas de Roupa</h5>
            <p class="card-text">Visite a página de roupas para verificar as avaliações.</p>

            <div>
                <button type="button" class="btn btn-outline-success">Conferir</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="card mb-3">
        <img src="/imgs/Cama-mesa-banho.jpg" class="card-img-top" alt="Imagem do card de cama mesa e banho">
        <div class="card-body">
            <h5 class="card-title">Cama, Mesa e Banho</h5>
            <p class="card-text">Visite a página de cama mesa e banho para verificar as avaliações.</p>

            <div>
                <button type="button" class="btn btn-outline-success">Conferir</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="card mb-3">
        <img src="/imgs/Utensilios.jpg" class="card-img-top" alt="Imagem do card de utensilios domésticos">
        <div class="card-body">
            <h5 class="card-title">Construção e Utensilios Domésticos</h5>
            <p class="card-text">Visite a página de utensilios domésticos para verificar as avaliações.</p>

            <div>
                <button type="button" class="btn btn-outline-success">Conferir</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="card mb-3">
        <img src="/imgs/vaiedades.png" class="card-img-top" alt="Imagem do card de variedades">
        <div class="card-body">
            <h5 class="card-title">Variedades</h5>
            <p class="card-text">Visite a página de variedades para verificar as avaliações.</p>

            <div>
                <button type="button" class="btn btn-outline-success">Conferir</button>
            </div>
        </div>
    </div>
