@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutLazer";
}

<div class="text-center">
    <div class="card mb-3">
        <img src="/imgs/Supermercado.jpg" class="card-img-top" alt="Imagem do card de lanchonetes">
        <div class="card-body">
            <h5 class="card-title">Lanchonetes</h5>
            <p class="card-text">Visite a página de lanchonetes para verificar as avaliações.</p>

            <div>
                <button type="button" class="btn btn-outline-dark">Conferir</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="card mb-3">
        <img src="/imgs/Supermercado.jpg" class="card-img-top" alt="Imagem do card de bares">
        <div class="card-body">
            <h5 class="card-title">Bares</h5>
            <p class="card-text">Visite a página de bares para verificar as avaliações.</p>

            <div>
                <button type="button" class="btn btn-outline-dark">Conferir</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="card mb-3">
        <img src="/imgs/Supermercado.jpg" class="card-img-top" alt="Imagem do card de festas">
        <div class="card-body">
            <h5 class="card-title">Festas</h5>
            <p class="card-text">Visite a página de festas para verificar as avaliações.</p>

            <div>
                <button type="button" class="btn btn-outline-dark">Conferir</button>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="card mb-3">
        <img src="/imgs/Supermercado.jpg" class="card-img-top" alt="Imagem do card de pontos turisticos">
        <div class="card-body">
            <h5 class="card-title">Pontos Turisticos</h5>
            <p class="card-text">Visite a página de pontos turisticos para verificar as avaliações.</p>

            <div>
                <button type="button" class="btn btn-outline-dark">Conferir</button>
            </div>
        </div>
    </div>
</div>