@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutSaude";
}

<div class="text-center">
    <div class="card mb-3">
        <img src="/imgs/farmacia.jpg" class="card-img-top" alt="Imagem do card de farmácias">
        <div class="card-body">
            <h5 class="card-title">Farmácias</h5>
            <p class="card-text">Visite a página de farmácias para verificar as avaliações.</p>
            
            <div>
                <button type="button" class="btn btn-outline-info">Conferir</button>
            </div>
        </div>
    </div>

        <div class="card mb-3">
            <img src="/imgs/hospital.jpg" class="card-img-top" alt="Imagem do card de hospitais">
            <div class="card-body">
                <h5 class="card-title">Hospitais</h5>
                <p class="card-text">Visite a página de hospitais para verificar as avaliações.</p>
            </div>
            <div>
                <button type="button" class="btn btn-outline-info">Conferir</button>
            </div>
        </div>
   
</div>
