
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section>
            <div class="text-center">
                <h1>Entre em contato conosco através desses canais para tirar duvídas ou dar sugestões</h1>
                <img src="/imgs/wppiconn.png" alt="Simbolo do whatsapp" />
                <span><h3>Whatsapp (16) 9935829520</h3></span>
                <br />
                <img src="/imgs/gmail.png" alt="Simbolo do email" />
                <span><h3>Email informetqeregiao@gmail.com</h3></span>
                <h3>Ou então fale com um dos nossos representantes pessoalmente</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d928.4946078671813!2d-48.51583217075702!3d-21.430092750725148!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b93bd3b48e7047%3A0x1808de33145ee4e0!2sFatec%20Taquaritinga!5e0!3m2!1spt-BR!2sbr!4v1649795138156!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>
</body>
</html>